@page
@model プロジェクト5.Pages.Player.AgregarJugadorModel
@{
    ViewData["Title"] = "AgregarJugador";
}

<h1>AgregarJugador</h1>
<form class="mt-3" method="post" enctype="multipart/form-data">
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Jugador.Status"></label>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="radio1">
                <input type="radio" asp-for="Jugador.Status" class="form-check-label" role="radio" value="true" id="radio1" />
                Activo
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="radio2">
                <input type="radio" asp-for="Jugador.Status" class="form-check-label" role="radio" value="false" id="radio2" />
                Inactivo
            </label>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Jugador.NomJug"></label>
        <div class="col-sm-4">
            <input type="text" asp-for="Jugador.NomJug" class="form-control form-text" role="textbox" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Jugador.ApellidoP"></label>
        <div class="col-sm-4">
            <input type="text" asp-for="Jugador.ApellidoP" class="form-control form-text" role="textbox" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Jugador.ApellidoM"></label>
        <div class="col-sm-4">
            <input type="text" asp-for="Jugador.ApellidoM" class="form-control form-text" role="textbox" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Jugador.Equipo"></label>
        <div class="col-sm-4">
            <select class="form-control" asp-for="Jugador.IdEquipo">
                <option selected value="0">Elija una opci&oacute;n</option>
                @foreach (var item in Model.Equipos)
                 {
                    <option value="@item.Id">@item.NomEquip</option>
                 }
            </select>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Jugador.Posicion"></label>
        <div class="col-sm-4">
            <select class="form-control" asp-for="Jugador.Posicion">
                <option selected value="0">Elija una opci&oacute;n</option>
                <option value="Portero">Portero</option>
                <optgroup label="Posiciones de la línea defensiva">
                    <option value="Defensa central">Defensa central</option>
                    <option value="Defensa lateral">Defensa lateral</option>
                    <option value="Defensa libre por la banda">Defensa libre por la banda</option>
                    <option value="Defensa de medio campo">Defensa de medio campo</option>
                </optgroup>
                <optgroup label="Posiciones de la línea media">
                    <option value="Centrocampista defensivo">Centrocampista defensivo</option>
                    <option value="Mediocampista central">Mediocampista central</option>
                    <option value="Mediocampista externo">Mediocampista externo</option>
                    <option value="Mediocampista ofensivo">Mediocampista ofensivo</option>
                </optgroup>
                <optgroup label="Posiciones de la línea delantera">
                    <option value="Media punta">Media punta</option>
                    <option value="Segundo delantero">Segundo delantero</option>
                    <option value="Puntero">Puntero</option>
                    <option value="Extremo">Extremo</option>
                    <option value="Delantero centro">Delantero centro</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Jugador.FechNac" for="start"></label>
        <div class="col-sm-4">
            <!-- Campo de entrada de fecha -->
            <input type="date" asp-for="Jugador.FechNac" min="1980-01-01" max="2002-12-31" step="2" class="form-control" lang="en" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Jugador.FotoJug"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input type="file" asp-for="Foto" class="custom-file-input form-control" lang="es-mx" />
                <label class="custom-file-label" for="Logo">Escoger un archivo</label>
                <input hidden asp-for="Jugador.FotoJug" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end p-2">
        <button class="btn btn-primary m-2" role="button">Save</button>
        <a asp-page="/Player" class="btn btn-secondary m-2" role="button">Cancel</a>
        <div class="text-danger" asp-validation-summary="All"></div>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });
    </script>
}
