@page
@model プロジェクト5.Pages.Player.DeleteModel

<h3>¿Está seguro de querer borrar el jugador @Model.Jugador.NomJug @Model.Jugador.ApellidoP @Model.Jugador.ApellidoM?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Jugador.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Jugadores" class="btn btn-success m-2" role="button">Cancelar</a>
    </form>
</div>
