@page
@model プロジェクト5.Pages.Team.DeleteModel

<h3>¿Está seguro de querer borrar el equipo @Model.Equipo.NomEquip?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Equipo.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />  |
        <a asp-page="./Equipos" class="btn btn-success m-2" role="button">Cancelar</a>
    </form>
</div>
