@page
@model プロジェクト5.Pages.Team.EditModel

<h4>Editar el equipo @Model.Equipo.NomEquip</h4>
<hr />
<form method="post" class="mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Equipo.NomEquip" class="control-label"></label>
        <input asp-for="Equipo.NomEquip" class="form-control" />
    </div>
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Equipo.Logo"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input type="file" asp-for="Logo" class="custom-file-input form-control" lang="es-mx" />
                <label class="custom-file-label" for="Logo">Escoger un archivo</label>
                <input hidden asp-for="Equipo.Logo" />
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="Equipo.Id" />
    <div class="row form-group">
        <label class="col-form-label col-sm-2" asp-for="Equipo.Status"></label>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="radio1">
                <input type="radio" asp-for="Equipo.Status" class="form-check-label" role="radio" value="true" id="radio1" />
                Activo
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="radio2">
                <input type="radio" asp-for="Equipo.Status" class="form-check-label" role="radio" value="false" id="radio2" />
                Inactivo
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-end p-2">
        <button class="btn btn-primary m-2" role="button">Guardar</button>
        <a asp-page="./Equipos" class="btn btn-secondary m-2" role="button">Cancelar</a>
        <div class="text-danger" asp-validation-summary="All"></div>
    </div>
</form>
<div>
    <a asp-page="./Equipos">Volver a equipos</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });
    </script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
