@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Está aplicación aún no posee un mecanismo para enviar correos de confirmación, por favor <a id="confirm-link" href="@Model.EmailConfirmationUrl">haga click aquí para confirmar su correo</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
